$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// General Style
body {
  font-family: 'Lato', sans-serif;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Navbar
.navbar {
  min-height: 70px;
  margin-bottom: 0px;
  background: #5c676d;
  border-bottom: #919ca2 1px solid;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    &:hover {
      color: #e5e5e5;
    }
    img {
      height: 40px;
    }
}

.nav.navbar-nav {
  float: right;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  height: 70px;
  line-height: 70px;
  padding-top: 0;
  padding-bottom: 0;
  &:hover {
    color: #ffffff;
  }
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #6c7479;
  color: #ffffff;
}

.dropdown-menu {
  background: #6c7479;
  border: none;
  box-shadow: none;
  right: 0px;
  left: auto;
  min-width: 200px;
  li > a {
    color: #ffffff;
    font-size: 13px;
  }
  .divider {
    background-color: #5c676d;
  }
  .dropdown-header.menu-dropdown-header {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
}


// Home
// Featured
.featured-home {
  background: #3e424d url('../images/bg-featured-home.png') no-repeat right bottom;
  padding: 20px 0 0 0;
}

.search-form {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 60px;
  h2 {
    color: #ededed;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 30px;
  }
}

// How to use Boxes
.using-with-box {
  position: relative;
  margin-bottom: 40px;
}
.shadow {
  background: #8f9198;
  position: absolute;
  width: 102%;
  height: 180px;
  left: -1%;
  z-index: 200;
  top: 10px;
}
.text-content {
  background: #ffffff;
  position: relative;
  z-index: 300;
  .side-box {
    width: 90px;
    float: left;
    min-height: 200px;
    position: relative;
    .lang-symbol {
      width: 124px;
      height: 124px;
      border-radius: 50%;
      background: #f3e8fc;
      position: absolute;
      left: 25px;
      top: 50%;
      margin-top: -62px;
    }
  }
  .instructions {
    padding-left: 180px;
    padding-right: 20px;
    h3 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #1e1c17;
    }
    p {
      font-size: 18px;
      .code {
        font-weight: bold;
        color: #714a94;
        background: #f8f3fc;
        display: inline-block;
        padding: 0 4px;
        border-radius: 4px;
      }
      a {
        color: #ec485b;
      }
    }
  }
}

.elixir .side-box {
  background: #714a94;
  .lang-symbol {
    background: #f3e8fc url('../images/elixir-logo.png') center no-repeat;
  }
}

.erlang .side-box {
  background: #ec485b;
  .lang-symbol {
    background: #fee3e6 url('../images/erlang-logo.png') center no-repeat;
  }
}

.home-stats {
  padding: 30px 0;
  ul {
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 14px;
      img {
        float: left;
        margin-right: 10px;
      }
      .stat-info {
        float: left;
        text-align: left;
        color: #000000;
        line-height: 15px;
        font-size: 14px;
        .count-info {
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }
}


.getting-started {
  padding-bottom: 40px;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  a {
    color: #4f2e85;
    font-size: 24px;
  }
  p {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    color: #000000;
  }
}

.log-head {
  border-bottom: #4f2e85 1px solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}
.log-body {
  padding-bottom: 20px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        color: #ec485b;
        font-size: 18px;
        line-height: 18px;
      }
      span {
        display: block;
        line-height: 18px;
      }
      .description {
        font-size: 12px;
        font-weight: 300;
      }
      .published-at {
        font-size: 12px;
        font-weight: 300;
        a {
          font-size: 12px;
        }
      }
    }
  }
}




.footer {
  margin-top: 50px;
  .made-with-love {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 10px;
  }
  .footer-nav {
    background: #a4a6af;
    ul {
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        &:hover {
          background: #9799a5;
        }
        a {
          &:hover {
            text-decoration: none;
          }
          padding: 10px 10px;
          display: block;
          color: #ffffff;
        }
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }


  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
