.footer {
  margin-top: 50px;
  .made-with-love {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 10px;
  }
  .footer-nav {
    background: #a4a6af;
    ul {
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        &:hover {
          background: #9799a5;
        }
        a {
          &:hover {
            text-decoration: none;
          }
          padding: 10px 10px;
          display: block;
          color: #ffffff;
        }
      }
    }
  }
}
